<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>{{post.title}} - stoober's Blog</title>
        {%load static%}
        <link rel = "stylesheet" href = "{% static 'styles.css' %}">
        <link rel="icon" href="{%static 'sourcecodeproS.png'%}">
    </head>
    <body>
        <div class = "container">
            <header class = "header">
                <span class = "header__inner">

                    <a href="{% url 'index' %}" style = "text-decoration:none">
                        <div class = "logo">
                            <span class = "logo__mark"> ~ </span>
                            <span class = "logo__text"> $ cd /home/stoober </span>
                            <span class="logo__cursor" style=""></span>
                        </div>
                    </a>
                    <span class="header__right">
                        <nav class="menu">
                            <ul class="menu__inner">
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'posts' %}" class = "lastnav">Posts</a></li>
                            </ul>
                        </nav>
                    </span>
                </span>
            </header>
            <div class = "content">
                <main class = "post">
                    <div class = "post-info">
                        <p>
                            {{post.get_month}} {{post.post_date.day}}, {{post.year}}
                        </p>
                    </div>
                    <article>
                        <h2 class = "post-title"> {{post.title}} </h2>
                        <div class = "post-content">
                            {{post.body|safe}}
                        </div>
                    </article>
                    <hr>
                </main>
            </div>
            <footer class = "footer"> 
                <div class = "footer__inner">
                    <div class = "footer__content">
                        <span><pre>© 2021 • Made with </pre></span>
                        <span class = "heart">❤</span>
                        <span><pre> from stoober • Powered by Django</pre></span>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>



