html {
    box-sizing: border-box;
    line-height: 1.6;
    letter-spacing: 0.06em;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto",
      "Segoe UI", Helvetica, Arial, sans-serif;
    font-display: auto;
    font-size: 1rem;
    line-height: 1.54;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  line-height: 1.3;
}
h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    font-weight: bold;
}
a{
    background-color: transparent;
}
table{
    width: 100%;
    vertical-align: top;
}
h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 1.625rem;
  margin-top: 2.5em;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
hr {
    width: 100%;
    border: none;
    height: 1px;
    background: #dcdcdc;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    position: relative;
    padding: 20px;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
}
.header__right{
    display: flex;
    flex-direction: row;
    align-items: center
}
a{
    color: inherit;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    font-display: auto;
    font-family: monospace, monospace;
}
.logo__mark {
    margin-right: 5px;
}
.logo__text {
    font-size: 1.125rem;
}

.logo__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #fe5186;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1s infinite;
}
@keyframes cursor {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
.menu {
    z-index: 9999;

} 
.menu__inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 1rem;
    list-style: none;   
}
.menu__inner li {
    margin: 0 12px;
}
.menu__inner a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
}
.menu__inner a:hover {
    text-decoration: underline;
    color: #fe5186;
}

.menu__inner a:last-of-type  {
    margin-right: 0px;
}
.icons a{
    text-decoration: none;
}
.posts {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
}
.posts:not(:last-of-type){
    border-bottom: 1px solid #dcdcdc;
}
.posts-group{
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;
}
.posts-list{
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}
.posts .post-title{
    font-size: 1rem;
    margin: 5px 0 5px 0;
}

.posts .post-years{
    list-style: none;
    margin: 0;
    padding: 0;
    border-collapse:collapse;
}
.posts .post-year{
    padding-top: 10px;
    margin-right: 1.8em;
    font-size: 1.6em;
    color: #fe5186;
    opacity: 0.6;
}
.posts .post-item{
    border-bottom: 1px grey dashed;
}
.post-year-column{
    vertical-align: top;
    width: 10%;
}
tr.post-row:not(:first-of-type) td {
    padding-top: 25px;
}

.posts .post-item a{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 0;
    text-decoration: none;
    width: 100%;
}
.posts .post-day {
    flex-shrink: 0;
    margin-left: 1em;
    opacity: 0.6;
}
.post{
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
}
.post-info{
    margin-top: 30px;
    font-size: 0.8rem;
    line-height: normal;
    opacity: .6;
}
.post-title{
    font-size: 2.625rem;
    margin: 0 0 20px;
}
.post-content {
    margin-top: 30px;
}

.footer{
    padding: 40px 20px;
    flex-grow: 0;
    color: #999;
}
.footer__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
}
.footer__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: #999;
}
.footer__content .heart{
    color: #fe5186;
}